<html>
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://code.highcharts.com/stock/highstock.js"></script>
        <script src="https://code.highcharts.com/modules/exporting.js"></script>
        <script src="{{url_for('static', filename='chart.js')}}"></script>
        <script type=text/javascript>
            $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
        </script>
        <script type=text/javascript>
            // Create the chart
            $(function (){
                Highcharts.chart('container', {
                    chart: {
                        zoomType: 'x'
                    },

                    title: {
                        text: 'Temperature from {{data_filename}}',
                    },

                    exporting: {
                        enabled: false
                    },


                    yAxis: {
                        title: {
                            text: null
                        },
                        labels: {
                            format: '{value} °C',
                        }
                    },

                    xAxis: {
                        title: {
                            text: null
                        },
                        labels: {
                            format: '{value} s',
                        }
                    },

                    series: [{
                        name: 'Temperature',
                        data: {{data}}
                    }],

                    exporting: {
                        enabled: true
                    }
                });
            });

         </script>
    </head>
    <body>
        <div id="container" style="height: 100%; min-width: 310px"></div>
    </body>
</html>
