<html>
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://code.highcharts.com/stock/highstock.js"></script>
        <script type=text/javascript>
            $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
        </script>
        <script type=text/javascript>
            function requestData () {
                // set up the updating of the chart each second
                var series = this.series[0];
                setInterval(function () {
                    $.getJSON($SCRIPT_ROOT + '/temperature', null, function(data){
                        var x = (new Date()).getTime();
                        series.addPoint([x, data.temperature], true, false);
                    });
                }, 1000);
            }

            // Create the chart
            $(function (){
                Highcharts.stockChart('container', {
                    chart: {
                        events: {
                            load: requestData
                        }
                    },

                    rangeSelector: {
                        buttons: [{
                        count: 1,
                        type: 'minute',
                        text: '1M'
                        }, {
                        count: 5,
                        type: 'minute',
                        text: '5M'
                        }, {
                        type: 'all',
                        text: 'All'
                        }],
                        inputEnabled: false,
                        selected: 2
                    },

                    title: {
                        text: 'Temperature',
                    },

                    exporting: {
                        enabled: false
                    },

                    yAxis: {
                        labels: {
                            format: '{value:.2f} °C',
                            style: {
                                fontSize: '30px'
                            }
                        }
                    },

                    series: [{
                        data: []
                    }]
                });
            });

         </script>
    </head>
    <body>
        <div id="container" style="height: 100%; min-width: 310px"></div>
    </body>
</html>
